{% extends "base.html" %}
{% block content %}
    <br/>
    <br/>
    <br/>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Accounts List</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>Phone</th>
                    <th>UID</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.age }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.uid }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %} 
    
